*.pyc
cache/
output/
*output*
data/zhuang_ABCA_*/raw_sections*
data/zhuang_ABCA_2
tests/
*.zip
*_benchmark/
*fig*
*log*
*run*
*PC*

script/*
!script/extract_ccfv3_cell_features.py
!script/img_reg/*
!script/mouse_brain/*
!script/mouse_embryo/*
!script/download_data.py
